---
import GarallyLayout from "../../layouts/GarallyLayout.astro";
import { titles } from "src/sketches/title";

const { title } = Astro.params;

export async function getStaticPaths() {
  return titles.map((title) => {
    return {
      params: {
        title,
      },
    };
  });
}
---

<GarallyLayout title={title?.toString() ?? ""}>
  <main class="gallerly"></main>
</GarallyLayout>

<script src={`/src/sketches/${title}/index.ts`} type="module"></script>

<style>
  .gallerly {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
  }
</style>
