---
import GarallyLayout from "../../layouts/GarallyLayout.astro";

const { title } = Astro.params;


export async function getStaticPaths() {
  const allSketches = await Astro.glob('../../sketches/**/index.ts');
  return allSketches.map((sketch) => {
    return {
      params: {
        title: sketch.title
      }
    }
  })
}
---

<GarallyLayout title={title?.toString() ?? ''}>
  <main>
    <h1>
      test
    </h1>
  </main>
  <!-- <script src={`../../sketches/${title}/index.ts`} type="module"></script> -->
</GarallyLayout>
