---
import Layout from "@layouts/Layout.astro";
---

<Layout title="kappy works">
  <section>
    <h1>404</h1>
    <p>URLが誤っているかもです。</p>
    <a href="/">トップへ</a>
  </section>
</Layout>

<style></style>
