---
import Layout from "@layouts/Layout.astro";
import Text from "@components/ui/Text/index.astro";
import Avator from "@components/ui/Avator/index.astro";
import Icon from "@components/ui/Icon/index.astro";
import Link from "@components/ui/Link/index.astro";
---

<Layout title="kappy works">
  <section id="top" class="top">
    <Text as="h1" size="lg">I'm <mark>kappy.</mark></Text>
    <div class="mt-12">
      <Text size="md" bold
        >Webエンジニアです。Webフロントエンド開発に興味があります。</Text
      >
    </div>
  </section>
  <section id="about" class="about">
    <Text as="h2" size="md">About me</Text>
    <div class="avator-wrapper">
      <Avator width={128} />
    </div>
    <div class="socials-wrapper">
      <Link to="https://twitter.com/kp047i">
        <Icon
          name="mdi:github"
          title="Link to my GitHub profile page"
          hoverColor="blackAlpha100"
        />
      </Link>
      <Link to="https://github.com/kp047i">
        <Icon
          name="mdi:twitter"
          title="Link to my Twitter profile page"
          hoverColor="blackAlpha100"
        />
      </Link>
      <Link to="https://qiita.com/kp047i">
        <Icon
          name="simple-icons:qiita"
          title="Link to my Qiita profile page"
          hoverColor="blackAlpha100"
        />
      </Link>
    </div>
    <div class="introduction">
      <Text size="sm" bold>
        大学在学時にインタラクティブアートを展示するサークルに所属し、電子工作やWeb開発に興味を持ちました。大学4年次からIoT関連のスタートアップの企業でアルバイトを経験し、Webエンジニアを志すようになりました。
      </Text>
      <Text size="sm" bold>
        JavaScriptやTypeScriptを使った開発が得意です。就職してからは主に、React,
        Next.js, NestJsを使った開発を経験してきました。
      </Text>
    </div>
  </section>
  <section class="galleries">
    <Text as="h2">Galleries</Text>
    <div class="galleries-text">
      <Text as="p" size="sm" bold>
        p5.jsを使ったクリエイティブコーディングの作品を載せています。自作コンポーネントやcssアニメーションなども載せていきたい。
      </Text>
    </div>
  </section>
</Layout>

<style>
  .top {
    margin-top: 48px;
  }

  .about {
    margin-top: 48px;
  }
  .introduction {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }
  .galleries {
    margin-top: 48px;
  }
  .galleries-text {
    margin-top: 24px;
  }
  mark {
    background: linear-gradient(transparent 60%, #4bb676 70%);
    color: #3e4240;
  }
  .avator-wrapper {
    display: grid;
    place-content: center;
    margin-top: 40px;
  }

  .socials-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
  }
</style>
