---
import type { Color } from "@util/color";
import { type HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  decoration?: boolean;
  color?: Color;
}

const { decoration = true, color = "main", ...props } = Astro.props;
const decorationClass = decoration ? "" : "decoration-none";
---

<a {...props} class:list={[decorationClass, color]}>
  <slot />
</a>

<style>
  .decoration-none {
    text-decoration: none;
  }
  .main {
    color: var(--c-main);
  }
</style>
