---
import "@fontsource/murecho";
import Header from "@components/ui/Header/index.astro";
import Footer from "@components/ui/Footer/index.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3fc9cecce3c04ad7b71bc640289afce5"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>

<style is:global>
  :root {
    --c-primary: #267c51;
    --c-primary-50: #f0f9f3;
    --c-secondary: #7c4f26;
    --c-main: #3e4240;
    --c-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --c-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --c-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --c-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --c-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --c-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --c-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --c-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --c-blackAlpha-800: rgba(0, 0, 0, 0.8);
    --c-blackAlpha-900: rgba(0, 0, 0, 0.92);
  }
  html {
    font-family: "Murecho", "Hiragino UD Sans", "Hiragino Sans", "Yu Gothic",
      sans-serif;
    background-color: var(--c-primary-50);
    color: #2d3230;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  main {
    margin: auto;
    padding: 16px 0;
    max-width: 60ch;
  }

  @media (min-width: 768px) {
    main {
      margin: auto;
      padding: 32px 0;
      max-width: 100ch;
    }
  }
</style>
